<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Credentials</title>
    <link rel="stylesheet" href="/css/change.css">
</head>
<body>

    <h1>Change Admin Credentials</h1>

    <div th:if="${message}" th:text="${message}" style="color:green; font-weight:bold;">
    </div>

    <form action="admin/changeCredentials" method="post">

    <br>
        <label for="oldname">Old Username:</label>
        <input type="text" id="oldname" name="oldname" required><br><br>

        <label for="newname">New Username:</label>
        <input type="text" id="newname" name="newname" required><br><br>

        <label for="oldpassword">Old Password:</label>
        <input type="password" id="oldpassword" name="oldpassword" required><br><br>

        <label for="newpassword">New Password:</label>
        <input type="password" id="newpassword" name="newpassword" required><br><br>

        <button type="submit">Update</button>
    </form>

</body>
</html>
