<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Credentials</title>
    <link rel="stylesheet" href="/css/change.css">
</head>
<body>
	<div id="notification-box" style="display: none;">
		<p>New reservation!</p>
		<button onclick="redirectToTable()">OK</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<script src="/js/notification.js"></script>
<div id="toast" style="display:none; position: fixed; bottom: 20px; right: 20px; 
    background: #333; color: #fff; padding: 15px; border-radius: 5px; z-index: 1000;">
    <span id="toast-message"></span>
    <button id="toast-btn" style="margin-left: 10px; background-color: #45a049; border: none; color: white; padding: 5px 10px; border-radius: 3px; cursor: pointer;">OK</button>
</div>
	<div id="toast-container"
		style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
    <h1>Change Admin Credentials</h1>

    <div th:if="${message}" align="center" th:text="${message}" style="color:green; font-weight:bold;">
    </div><br>

    <form action="/changeCredentials" method="post">
    <div th:if="${message}" th:text="${message}" style="color:green; font-weight:bold;">
    </div>

    <form action="admin/changeCredentials" method="post">

    <br>
        <label for="oldname">Old Username:</label>
        <input type="text" id="oldname" name="oldname" required><br><br>

        <label for="newname">New Username:</label>
        <input type="text" id="newname" name="newname" required><br><br>

        <label for="oldpassword">Old Password:</label>
        <input type="password" id="oldpassword" name="oldpassword" required><br><br>

        <label for="newpassword">New Password:</label>
        <input type="password" id="newpassword" name="newpassword" required><br><br>

        <button type="submit">Update</button>
    </form>

</body>
</html>
