<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregled Podataka</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>

    <div class="table-container">
		<div class="admin-panel">
			<a href="dashboard" class="button-link">Go to Dashboard</a>
		</div>
        <h2>Read all Contacts</h2>
        
        <h2 th:text="${Message}"></h2>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Message</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact:${allcontacts}">
				<td th:text="${contact.id}"></td>
				<td th:text="${contact.name}"></td>
				<td th:text="${contact.email}"></td>
				<td th:text="${contact.phone}"></td>
				<td th:text="${contact.message}"></td>
				 <td>
                   <a th:href="@{admin/deleteContact/{id}(id=${contact.id})}" class="btn-delete">Delete</a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
