<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" href="/css/table-style.css">
</head>
<body>

    <div class="table-container">
		<div class="admin-panel">
			<a href="dashboard" class="button-link">Go to Dashboard</a>
		</div>
        <h2>Read all Bookings</h2>
        
        <h2 th:text="${Message}"></h2>
        
        <table>
            <thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>E-mail</th>
					<th>From</th>
					<th>To</th>
					<th>Time</th>
					<th>Date</th>
					<th>Comfort</th>
					<th>Adults</th>
					<th>Children</th>
					<th>Message</th>
					<th>Delete</th>
				</tr>
			</thead>
            <tbody>
				<tr th:each="booking : ${allBookings}">
					<td th:text="${booking.id}"></td>
					<td th:text="${booking.name}"></td>
					<td th:text="${booking.email}"></td>
					<td th:text="${booking.from}"></td>
					<td th:text="${booking.to}"></td>
					<td th:text="${booking.time}"></td>
					<td th:text="${booking.date}"></td>
					<td th:text="${booking.comfort}"></td>
					<td th:text="${booking.adult}"></td>
					<td th:text="${booking.children}"></td>
					<td th:text="${booking.message}"></td>
					<td>
                   <a th:href="@{admin/deleteBooking/{id}(id=${booking.id})}" class="btn-delete">Delete</a>
                </td>
				</tr>
			</tbody>
        </table>
    </div>

</body>
</html>
